<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.1376875A-5C18-4547-B3EC-9C0BF85868B6</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GitHub Docs</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>1376875A-5C18-4547-B3EC-9C0BF85868B6</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>display</key>
		<string>standalone</string>
		<key>icons</key>
		<array>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>57x57</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-2169/images/site/apple-touch-icon-57x57.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>60x60</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-2166/images/site/apple-touch-icon-60x60.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>72x72</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-2810/images/site/apple-touch-icon-72x72.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>76x76</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-3285/images/site/apple-touch-icon-76x76.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>114x114</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-6276/images/site/apple-touch-icon-114x114.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>120x120</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-6774/images/site/apple-touch-icon-120x120.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>144x144</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-8743/images/site/apple-touch-icon-144x144.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>152x152</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-10295/images/site/apple-touch-icon-152x152.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>180x180</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-12622/images/site/apple-touch-icon-180x180.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-2913/images/site/apple-touch-icon-192x192.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>https://docs.github.com/assets/cb-9184/images/site/apple-touch-icon-512x512.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>name</key>
		<string>GitHub Docs</string>
		<key>scope</key>
		<string>https://docs.github.com</string>
		<key>short_name</key>
		<string>GitHub Docs</string>
		<key>start_url</key>
		<string>https://docs.github.com/</string>
	</dict>
	<key>WKManifestIsSynthesized</key>
	<false/>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://docs.github.com/</string>
	</dict>
</dict>
</plist>
