<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.6B1B9682-74CC-4AF7-A7B6-A7BC130E6923</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Excel VBA Loop Thru Worksheets and Perform Action</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>6B1B9682-74CC-4AF7-A7B6-A7BC130E6923</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>display</key>
		<string>minimal-ui</string>
		<key>icons</key>
		<array>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>144x144</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/branding/favicon/favicon_144x144.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/branding/favicon/favicon_192x192.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>monochrome</string>
				<key>sizes</key>
				<string>16x16</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/web/monochrome/logo_16x16.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>monochrome</string>
				<key>sizes</key>
				<string>32x32</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/web/monochrome/logo_32x32.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>monochrome</string>
				<key>sizes</key>
				<string>48x48</string>
				<key>src</key>
				<string>https://fonts.gstatic.com/s/i/googlematerialicons/video_youtube/v11/white-48dp/1x/gm_video_youtube_white_48dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>monochrome</string>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/web/monochrome/logo_512x512.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>name</key>
		<string>YouTube</string>
		<key>scope</key>
		<string>https://www.youtube.com</string>
		<key>short_name</key>
		<string>Excel VBA Loop Thru Worksheets and Perform Action</string>
		<key>start_url</key>
		<string>https://www.youtube.com/?feature=ytca</string>
		<key>theme_color</key>
		<string>#ff0000</string>
	</dict>
	<key>WKManifestIsSynthesized</key>
	<false/>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://www.youtube.com/?feature=ytca</string>
	</dict>
</dict>
</plist>
