<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.9954640C-ED04-4F94-BA05-270660A566B7</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GitHub AttributeError</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>9954640C-ED04-4F94-BA05-270660A566B7</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>display</key>
		<string>standalone</string>
		<key>icons</key>
		<array>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>114x114</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/apple-touch-icon-114x114-09ce42d3ca4b.png</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>120x120</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/apple-touch-icon-120x120-92bd46d04241.png</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>144x144</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/apple-touch-icon-144x144-b882e354c005.png</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>152x152</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/apple-touch-icon-152x152-5f777cdc30ae.png</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>180x180</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/apple-touch-icon-180x180-a80b8e11abe2.png</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>57x57</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/apple-touch-icon-57x57-22f09f5b3a64.png</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>60x60</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/apple-touch-icon-60x60-19037ac897bf.png</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>72x72</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/apple-touch-icon-72x72-e090c8a282d0.png</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>76x76</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/apple-touch-icon-76x76-a4523d80afb4.png</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/app-icon-192-bcc967ab9829.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any</string>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>https://github.githubassets.com/assets/app-icon-512-7f9c4ff2e960.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>name</key>
		<string>GitHub</string>
		<key>scope</key>
		<string>https://github.com</string>
		<key>short_name</key>
		<string>GitHub AttributeError</string>
		<key>start_url</key>
		<string>https://github.com/</string>
	</dict>
	<key>WKManifestIsSynthesized</key>
	<false/>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://github.com/</string>
	</dict>
</dict>
</plist>
